In [49]:
## Задание 1
### Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
###  - оценка 2 и меньше - низкий рейтинг
###  - оценка 4 и меньше - средний рейтинг
###  - оценка 4.5 и 5 - высокий рейтинг
### Результат классификации запишите в столбец class

In [50]:
import pandas as pd

stats = pd.read_csv('movies.csv')
stats.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [51]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [52]:
merged = stats.merge(ratings.groupby('movieId').mean()[
    ['rating']], left_on='movieId', right_on='movieId')
merged.head()

,movieId,title,genres,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.872470
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.401869
2,3,Grumpier Old Men (1995),Comedy|Romance,3.161017
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.384615
4,5,Father of the Bride Part II (1995),Comedy,3.267857

In [53]:
def groupby_function(data):
    if data <= 2:
        return 'low rating'
    elif data <= 4:
        return 'average rating'
    else:
        return 'high rating'

merged['class'] = merged['rating'].apply(groupby_function)
merged.head()

,movieId,title,genres,rating,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.872470,average rating
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.401869,average rating
2,3,Grumpier Old Men (1995),Comedy|Romance,3.161017,average rating
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.384615,average rating
4,5,Father of the Bride Part II (1995),Comedy,3.267857,average rating

In [54]:
merged.drop(columns='rating', inplace=True)
merged.head()

,movieId,title,genres,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,average rating
1,2,Jumanji (1995),Adventure|Children|Fantasy,average rating
2,3,Grumpier Old Men (1995),Comedy|Romance,average rating
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,average rating
4,5,Father of the Bride Part II (1995),Comedy,average rating

In [55]:
## Задание 2
### Используем файл keywords.csv.
### Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.
### Результат классификации запишите в отдельный столбец region.
### Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

In [56]:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [57]:
stats = pd.read_csv('keywords.csv')
stats.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [58]:
def geo(row, data: dict):
    words = row.split()
    for w in words:
        for k, v in data.items():
            if w in v:
                return k
    return 'undefined'

stats['region'] = stats['keyword'].apply(geo, data=geo_data)
stats.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [60]:
stats[stats['region'] != 'undefined'].head() # выведем часть запросов, где определен регион

                       keyword   shows          region
127               авито москва  979292           Центр
370   авито ру санкт петербург  425134    Северо-Запад
849            авито ярославль  209581           Центр
1063       фарпост владивосток  176951  Дальний Восток
1236      банк санкт петербург  174375    Северо-Запад